# Imports

In [1]:
import pandas as pd
import numpy as np
import os

import seaborn

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Read in data and make sure relevant columns are string/character 

- San Diego data: `naics_code` and `account_key`
- NAICS details data: `naics` (North American Industry Classification Systems)

Run code below; if pulling from github, pathname should be fine; if working elsewhere may need to edit path name at read in

In [2]:
# uncomment if u need to find your path: os.getcwd()
SD = sd_df = pd.read_csv("../public_data/sd_df.csv")
NA = naics_df = pd.read_csv("../public_data/naics_df.csv")

In [5]:
cols_sd_use = ["naics_code", "account_key"]
cols_naics_use = ["naics"]

sd_df[cols_sd_use] = sd_df[cols_sd_use].astype(str)
naics_df[cols_naics_use] = naics_df[cols_naics_use].astype(str)

sd_df.dtypes
naics_df.dtypes
sd_df.head()
naics_df.head()

account_key          object
dba_name             object
council_district     object
naics_code           object
naics_description    object
naics_nchar           int64
dtype: object

naics                object
naics_description    object
dtype: object

,account_key,dba_name,council_district,naics_code,naics_description,naics_nchar
0,1974000448,ERNST & YOUNG LLP,cd_1,541211,OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS,6
1,1974011093,HECHT SOLBERG ROBINSON GOLDBERG & BAGLEY LLP,cd_3,5411,LEGAL SERVICES,4
2,1978039819,RSM US LLP,cd_1,541211,OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS,6
3,1978042092,THORSNES BARTOLOTTA MCGUIRE LLP,cd_3,5411,LEGAL SERVICES,4
4,1979046817,KORENIC & WOJDOWSKI LLP,cd_7,5412,ACCOUNTING/TAX PREP/BOOKKEEP/PAYROLL SERVICES,4

    naics                 naics_description
0  111140                     Wheat Farming
1  111160                      Rice Farming
2  111150                      Corn Farming
3  111110                   Soybean Farming
4  111120  Oilseed (except Soybean) Farming

## "Inner join"- retain only San Diego businesses with details on their NAICS code

- Use the `naics_code` column in the San Diego business data as the join key
- Use the `naics` column in the NAICS code details data as the join key

- Do an inner join of the San Diego data onto the NAICS code details using these join keys
- After the inner join, print some examples of San Diego businesses lost in the merge
- Use value_counts() on the `naics_nchar` column in the San Diego data to see why they might have gotten lost

In [15]:
df = SD.merge(NA, left_on = "naics_code", right_on="naics", how="inner")
print(df)

df.shape

   account_key                                    dba_name council_district  \
0   1974000448                           ERNST & YOUNG LLP             cd_1
1   1978039819                                  RSM US LLP             cd_1
2   1982006408            MAX L. PERLATTI & ASSOCIATES LLP             cd_2
3   1984014611                                    RBTK LLP             cd_6
4   1985008871                                CWGB&S CPAS              cd_3
5   1995006738                                  PADRES L P             cd_3
6   1995007398                                 CRI 2000 LP             cd_3
7   1995007398                                 CRI 2000 LP             cd_3
8   1995007398                                 CRI 2000 LP             cd_3
9   1995007398                                 CRI 2000 LP             cd_3
10  1995007398                                 CRI 2000 LP             cd_3
11  1995007398                                 CRI 2000 LP             cd_3
12  1998004615                        DELSEN & COMPANY LLP             cd_6
13  2000001077                 MASSEY WEHR AND COMPANY LLP             cd_1
14  2003001470  GUM SAAN - THE LAND OF THE GOLDEN MOUNTAIN             cd_3
15  2003001470  GUM SAAN - THE LAND OF THE GOLDEN MOUNTAIN             cd_3
16  2003001470  GUM SAAN - THE LAND OF THE GOLDEN MOUNTAIN             cd_3
17  2003001470  GUM SAAN - THE LAND OF THE GOLDEN MOUNTAIN             cd_3
18  2004006421            ROBBINS GELLER RUDMAN & DOWD LLP             cd_3
19  2005012737                         SLATER & TRUXAW LLP             cd_1
20  2006000166         GUERRERO JIMENEZ DIAZ & COMPANY LLP             cd_3
21  2006009239                         CONNOR & CUNDEL LLP             cd_3
22  2006010738                       WENTHUR LAW GROUP LLP             cd_2
23  2007000136                              MOSS ADAMS LLP             cd_7
24  2007022822               THE LOAN COMPANY OF SAN DIEGO             cd_3
25  2008016718                                 BDO USA LLP             cd_1
26  2009003243                ALTMAN INVESTMENT COMPANY LP             cd_1
27  2009010415         THE SUMMIT AT POINT LOMA APARTMENTS             cd_2
28  2010012365                  LAPIZ PROPERTIES GROUP LTD             cd_1
29  2010013586                        SWENSON ADVISORS LLP             cd_3
30  2013053990                       MURRILL & GERBINO LLP             cd_1
31  2013067165                                       ARIEL             cd_3
32  2014027828                    STEES WALKER COMPANY LLP             cd_5
33  2014034430               ALVAREZ TAX & ACCOUNTING  LLP             cd_6
34  2018000234        VINAS UNITED CRYPTO INVESTMENT GROUP             cd_6
35  2018000234        VINAS UNITED CRYPTO INVESTMENT GROUP             cd_6
36  2018023600          ALLIED UNIVERSAL SECURITY SERVICES             cd_5
37  2019015278               BEYER BOULEVARD APARTMENTS LP             cd_8
38  2019023546                        REIWA ACCOUNTING LLP             cd_3
39  2020007786                       PRIMAL COFFEE COMPANY             cd_2
40  2020007786                       PRIMAL COFFEE COMPANY             cd_2
41  2020007786                       PRIMAL COFFEE COMPANY             cd_2
42  2020007786                       PRIMAL COFFEE COMPANY             cd_2
43  2020007786                       PRIMAL COFFEE COMPANY             cd_2
44  2020013537                  MOTHER TO MOTHER MIDWIFERY             cd_3
45  2020013537                  MOTHER TO MOTHER MIDWIFERY             cd_3
46  2021010826                       STARDUST FLOAT SPA LP             cd_2
47  2003021665                                   SDDR V LP             cd_7
48  2003021665                                   SDDR V LP             cd_7
49  2014004525                          INSTANT SMOG CHECK             cd_6
50  2014004525                          INSTANT SMOG CHECK             cd_6
51  2014004525                          INSTANT SMOG CHECK             cd_6

   naics_code                            naics_description_x  naics_nchar  \
0      541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
1      541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
2      541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
3      541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
4      541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
5      711211                         SPORTS TEAMS AND CLUBS            6
6      321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
7      321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
8      321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
9      321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
10     321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
11     321999       ALL OTHER MISCELLANEOUS WOOD PRODUCT MFG            6
12     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
13     541213                       TAX PREPARATION SERVICES            6
14     453998   ALL OTHER MISC STORE RETAILERS (EXC TOBACCO)            6
15     453998   ALL OTHER MISC STORE RETAILERS (EXC TOBACCO)            6
16     453998   ALL OTHER MISC STORE RETAILERS (EXC TOBACCO)            6
17     453998   ALL OTHER MISC STORE RETAILERS (EXC TOBACCO)            6
18     541199                       ALL OTHER LEGAL SERVICES            6
19     541199                       ALL OTHER LEGAL SERVICES            6
20     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
21     541199                       ALL OTHER LEGAL SERVICES            6
22     541199                       ALL OTHER LEGAL SERVICES            6
23     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
24     522291                               CONSUMER LENDING            6
25     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
26     531312               NONRESIDENTIAL PROPERTY MANAGERS            6
27     531311                  RESIDENTIAL PROPERTY MANAGERS            6
28     531312               NONRESIDENTIAL PROPERTY MANAGERS            6
29     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
30     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
31     531311                  RESIDENTIAL PROPERTY MANAGERS            6
32     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
33     541213                       TAX PREPARATION SERVICES            6
34     523999  MISCELLANEOUS FINANCIAL INVESTMENT ACTIVITIES            6
35     523999  MISCELLANEOUS FINANCIAL INVESTMENT ACTIVITIES            6
36     561612              SECURITY GUARDS & PATROL SERVICES            6
37     531311                  RESIDENTIAL PROPERTY MANAGERS            6
38     541211        OFFICES OF CERTIFIED PUBLIC ACCOUNTANTS            6
39     311999               ALL OTHER MISCELLANEOUS FOOD MFG            6
40     311999               ALL OTHER MISCELLANEOUS FOOD MFG            6
41     311999               ALL OTHER MISCELLANEOUS FOOD MFG            6
42     311999               ALL OTHER MISCELLANEOUS FOOD MFG            6
43     311999               ALL OTHER MISCELLANEOUS FOOD MFG            6
44     621399   OFFICES OF ALL OTH MISC HEALTH PRACTITIONERS            6
45     621399   OFFICES OF ALL OTH MISC HEALTH PRACTITIONERS            6
46     812199                   OTHER PERSONAL CARE SERVICES            6
47     523999  MISCELLANEOUS FINANCIAL INVESTMENT ACTIVITIES            6
48     523999  MISCELLANEOUS FINANCIAL INVESTMENT ACTIVITIES            6
49     811198                       ALL OTHER AUTOMOTIVE R&M            6
50     811198                       ALL OTHER AUTOMOTIVE R&M            6
51     811198                       ALL OTHER AUTOMOTIVE R&M            6

     naics                                naics_description_y
0   541211            Offices of Certified Public Accountants
1   541211            Offices of Certified Public Accountants
2   541211            Offices of Certified Public Accountants
3   541211            Offices of Certified Public Accountants
4   541211            Offices of Certified Public Accountants
5   711211                            Sports Teams and Clubs
6   321999  All Other Miscellaneous Wood Product Manufactu...
7   321999  All Other Miscellaneous Wood Product Manufactu...
8   321999  All Other Miscellaneous Wood Product Manufactu...
9   321999  All Other Miscellaneous Wood Product Manufactu...
10  321999  All Other Miscellaneous Wood Product Manufactu...
11  321999  All Other Miscellaneous Wood Product Manufactu...
12  541211            Offices of Certified Public Accountants
13  541213                           Tax Preparation Services
14  453998  All Other Miscellaneous Store Retailers (excep...
15  453998  All Other Miscellaneous Store Retailers (excep...
16  453998  All Other Miscellaneous Store Retailers (excep...
17  453998  All Other Miscellaneous Store Retailers (excep...
18  541199                           All Other Legal Services
19  541199                           All Other Legal Services
20  541211            Offices of Certified Public Accountants
21  541199                           All Other Legal Services
22  541199                           All Other Legal Services
23  541211            Offices of Certified Public Accountants
24  522291                                   Consumer Lending
25  541211            Offices of Certified Public Accountants
26  531312                   Nonresidential Property Managers
27  531311                      Residential Property Managers
28  531312                   Nonresidential Property Managers
29  541211            Offices of Certified Public Accountants
30  541211            Offices of Certified Public Accountants
31  531311                      Residential Property Managers
32  541211            Offices of Certified Public Accountants
33  541213                           Tax Preparation Services
34  523999      Miscellaneous Financial Investment Activities
35  523999      Miscellaneous Financial Investment Activities
36  561612                Security Guards and Patrol Services
37  531311                      Residential Property Managers
38  541211            Offices of Certified Public Accountants
39  311999         All Other Miscellaneous Food Manufacturing
40  311999         All Other Miscellaneous Food Manufacturing
41  311999         All Other Miscellaneous Food Manufacturing
42  311999         All Other Miscellaneous Food Manufacturing
43  311999         All Other Miscellaneous Food Manufacturing
44  621399  Offices of All Other Miscellaneous Health Prac...
45  621399  Offices of All Other Miscellaneous Health Prac...
46  812199                       Other Personal Care Services
47  523999      Miscellaneous Financial Investment Activities
48  523999      Miscellaneous Financial Investment Activities
49  811198        All Other Automotive Repair and Maintenance
50  811198        All Other Automotive Repair and Maintenance
51  811198        All Other Automotive Repair and Maintenance

(52, 8)

In [17]:
SD.naics_nchar.value_counts()

naics_nchar
5    150
4     89
6     49
3     42
2     23
Name: count, dtype: int64

## "Left join"- retain all sd businesses even if naics code isn't in `naics_df`

- Using the same join keys as above, and treating the San Diego businesses as the left hand side data, left join the naics code details onto the San Diego businesses
- Use the `indicator` argument within merge to create an indicator, `naics_merge_status`, to help with later merge diagnostics and examine sample of ones that didn't merge
- Use the `suffixes` argument within merge to add `_sd` as the left suffix, `_census` as the right suffix
- Use `naics_merge_status` in the merged result to look at a sample of San Diego businesses that weren't matched with `naics_df`

## Use group by and agg to see if there are differences in merge rates by area

- Using the left-joined dataframe created in previous step, create a boolean indicator, `is_lost`, that equals `True` if the merge indicator is equal to "left_only" (and is otherwise false)
- Find the proportion of businesses by council district that were lost in the left join (SD businesses that failed to match to `naics_df`). To do this, group by `council_district` and use the shortcut of taking the mean of the `is_lost` indicator to find the proportions lost by `council_district`.

In [ ]:
# your code here

## Optional challenge exercise: add lagging 0's and see if merge rate improves

You noticed earlier that a big reason for non-matches is that the San Diego tax certificate NAICS codes were often less than six digits long, while the Census ones were always 6 digits.

You wonder if this is an issue where 0's in some of the SD's data naics codes got cut off (eg 540000 became 54), and if so whether adding these lagging zeros would improve the merge rate in a left join.

- Pad the `naics_code` column in `sd_df` with 0's to get that column up to 6-digits, using one of two approaches: 
  1. `str.pad` in pandas (https://pandas.pydata.org/docs/reference/api/pandas.Series.str.pad.html)
  2. for more of a challenge, write your own function! It should check the # of digits in the naics code string and pad it with 0's at the end up to 6 digits. To execute your function, use row-wise apply: `df.apply(lambda row: funcname(row.column), axis=1)`.
- Perform the same left join as above and see how the match rate changes
- Create an indicator variable--`is_new_match`---for new matches under the padded NAICS code; compare the `naics_description` column from San Diego versus Census in the new dataset for a sample of these new matches and comment on whether the padding seems to be correct

In [ ]:
# your code here